<div id="envia" class="envia"  data-magellan-target="envia">
  <h2 class="text-center">Envia tu diseño</h2>
  <div class="row align-center">
      <div class="medium-8 columns">
          <div class="form-container">
              <form>
                  <div class="row align-center">
                      <div class="medium-8 small-10 columns">
                          <legend class="text-center">Podemos imprimir tu diseño, solo llena el formulario!</legend>
                          <label>Nombre:
                              <input type="text" placeholder="Tu nombre">
                          </label>
                      </div>
                  </div>
                  <div class="row align-center">
                      <div class="medium-8 small-10 columns">
                          <label>Email:
                              <input type="email" placeholder="Tu email">
                          </label>
                      </div>
                  </div>
                  <div class="row align-center">
                      <div class="medium-8 small-10 columns">
                          <label>Mensaje:
                              <textarea placeholder="Tu mensaje"></textarea>
                          </label>
                      </div>
                  </div>
                  <div class="row align-center">
                      <div class="medium-8 small-10 columns">
                          <label for="subirArchivo" class="button">Subir archivo</label>
                          <input type="file" id="subirArchivo" class="show-for-sr">
                      </div>
                      <div class="medium-8 small-10 columns">
                          <input type="submit" class="button secondary" value="Enviar">
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
