<div id="nosotros" class="sobre-nosotros"  data-magellan-target="nosotros">
  <h2 class=text-center>Sobre nosotros</h2>
  <div class="row medium-unstack text-center">
      <div class="small-6 column">
          <i class="fi-checkbox"></i>
          <h3>Increíble servicio</h3>
          <p>Quisque viverra elit nec urna imperdiet facilisis. Praesent in consequat dolor, sit amet varius dolor. Etiam vitae tristique nibh.
      </div>
      <div class="small-6 column">
          <i class="fi-clock"></i>
          <h3>Gran rapidez</h3>
          <p>Quisque viverra elit nec urna imperdiet facilisis. Praesent in consequat dolor, sit amet varius dolor. Etiam vitae tristique nibh.
      </div>
      <div class="small-6 column">
          <i class="fi-css3"></i>
          <h3>Para devs</h3>
          <p>Quisque viverra elit nec urna imperdiet facilisis. Praesent in consequat dolor, sit amet varius dolor. Etiam vitae tristique nibh.
      </div>
      <div class="small-6 column">
          <i class="fi-dollar"></i>
          <h3>Mejor precio</h3>
          <p>Quisque viverra elit nec urna imperdiet facilisis. Praesent in consequat dolor, sit amet varius dolor. Etiam vitae tristique nibh.
      </div>
  </div>

</div>
