<div id="testimoniales" class="testimoniales"  data-magellan-target="testimoniales">
    <h2 class="text-center">Testimoniales</h2>
    <div class="row align-middle medium-unstack">
        <div class="column small-order-2 medium-order-1">
            <img src="assets/img/imagen_testimoniales.jpg">
        </div>
        <div class="column small-order-1 medium-order-2">
            <div class="orbit" role="region" aria-label="Nuestros testimoniales" data-orbit>
                <ul class="orbit-container text-center">
                      <li class="orbit-slide">
                            <blockquote>
                                  “Increible calidad, la velocidad y la exactitud son impresionantes!”
                                  <cite>Juan Pablo</cite>
                            </blockquote>
                      </li>
                      <li class="orbit-slide">
                        <blockquote>
                              “Las mejores camisetas para desarrolladores están aquí!”
                              <cite>Miguel Angel</cite>
                        </blockquote>
                      </li>
                </ul>
            </div> <!--.orbit-->
        </div> <!--.column-->
    </div>


</div>
